[submodule "ihp13/pdk"]
	path = ihp13/pdk
	url = https://github.com/IHP-GmbH/IHP-Open-PDK
[submodule "artistic/artistic"]
	path = artistic/artistic
	url = git@github.com:pulp-platform/artistic.git
[submodule "librelane/IHP-Open-PDK"]
	path = librelane/IHP-Open-PDK
	url = https://github.com/IHP-GmbH/IHP-Open-PDK.git
[submodule "librelane/librelane"]
	path = librelane/librelane
	url = https://github.com/librelane/librelane.git
